
# python
__pycache__/
*.py[cod]
*$py.class

# Ignore all the audio files and PLDA models.
data
model_file
adver-audio
pre-trained-models
downloads


# Ignore large files from fakebob
fakebob/adversarial-audio
fakebob/*-build-model-*
fakebob/checkpoint
fakebob/*-*-targeted
fakebob/*-*-untargeted
fakebob/model
fakebob/pre-models
fakebob/test-*-*
fakebob/test-set
fakebob/logs_*
sanchit/adversarial_audio

